body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 60px;
    text-shadow: 0 5px 0 black;
    margin: 50px 0;
}


.canva{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3px;
    align-items: center;
    margin-bottom: 50px;
}

.gal{
    width: 130px;
    height: 135px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gal img {
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s;
}

.gal img:hover {
    scale: 1.2;
    transition: all 0.3s;
}

.big {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    position:fixed;
    margin: 0 auto;
    width: 400px;
    height: auto;
    padding: 0 100%;
    background-color: #000000bf;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: 0.3s;
}

