@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

body{
    background-color: #e2eaf8;
}

.penis{
    background-color: #0069c0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent{
    width: 414px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

h1{
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

#password{
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    border: none;
    outline: none;
}

.login{
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.flex{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.btn{
    padding: 10px;
    font-weight: 600;
    text-align: center;
    background-color: #ab3ed8;
    color: #e8f5ff;
    min-width: 50px;
    border-radius: 5px;
    width: 40%;
    cursor: pointer;
}

.btn:active{
    background-color: #9136b8;
}

footer{
    position: fixed;
    top: calc(100% - 50px);
    background-color: #e2eaf8;
    height: 50px;
    width: 100%;
}

footer figure {
    cursor: pointer;
}

.icons{
    margin-top: 2px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.icon-frame{
    margin: 0 auto;
    width: 20px;
    cursor: pointer;
}

.icon-frame img{
    width: 100%;
}

.pista {
    color: #e8f5ff;
}

.work-in-progress {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    margin: 0 auto;
    gap: 30px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.working-img{
    width: 100%;
}

.working-img img{
    width: 100%;
}